@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

main {
    display: flex;
    flex-direction: column;
    background-color: #1A191A;
    min-height: 100vh;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 50px;
}

header > .center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    left: 43.2%;
    position: absolute;
}

header > .center > a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    transition: 0.3s;
}

header > .center > a:hover{
    color: #4888FF;
}

.left > h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fcfcfc;
}

.left > h1 > span {
    color: #4888FF;
}

.menu-center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
}

.bolas {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
    width: 450px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.menu-blue nav {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 30px;
    border-radius: 100px;
}

#amarela {
    background-color: #FFD64E;
}
#verde {
    background-color: #78FF4E;
}
#vermelha {
    background-color: #FF4E4E;
}

.menu-blue {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #4888FF;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 12px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    transition: 0.3s;
}

.menu-blue:hover {
    transform: scale(1.04);
}

.nomenclatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #4888FF;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
    width: 450px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.nomenclatura h1 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    line-height: 18px;
    color: #fcfcfc;
}

.nomenclatura > .mids {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    position: relative;
    bottom: 80px;

}

.mids > .mid {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #fcfcfc;
}

.arquivo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquivo .bot {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fcfcfc;
    line-height: 14px;
}

.bt-baixar {
    border: 2px solid #fcfcfc;

    width: 300px;
    height: 60px;
    border-radius: 100px;
    margin: 10px 0px;
    background-color: transparent;
    color: #fcfcfc;
    transition: 0.3s;
}

.bt-baixar:hover {
    background-color: #fcfcfc;
    color: #1A191A;
    transform: scale(1.04);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border: 2px solid transparent;
}

.bt-baixar:active {
    background-color: #c0c0c0;
    color: #1A191A;
    transform: scale(1);
}
