@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #1A191A;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #1A191A;
    min-height: 100vh;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 50px;
}

header > .center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    left: 43.2%;
    position: absolute;
}

header > .center > a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    transition: 0.3s;
}

header > .center > a:hover{
    color: #4888FF;
}

.left > h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fcfcfc;
}

.left > h1 > span {
    color: #4888FF;
}

.menu-center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 15px 15px;

}

.como-jogar {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #4888FF;
    min-height: 102vh;
    width: 50%;
    height: 50%;

    border-radius: 10px;
    padding: 30px;
}

.como-jogar-classico {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.como-jogar h1 {
    font-size: 20px;
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
}

.como-jogar-classico h5 {
    font-size: 14px;
    color: #fcfcfc;
    font-weight: 500;
    margin-bottom: 5px;
}


.como-jogar-classico p {
    font-size: 12px;
    color: #fcfcfc;
    font-weight: 300;
}

.sig-quad {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.card-quad-amarelo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    background-color: #1A191A;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}


.card-quad-amarelo div p {
    font-size: 10px;
    font-weight: 300;
    width: 180px;
    color: #fcfcfc;
}

.card-quad-amarelo div span {
    font-size: 10px;
    font-weight: 500;
    width: 180px;
    color: #fcfcfc;
}

#amarelo {
    background-color: #FFD64E;
}
#verde {
    background-color: #78FF4E;
}
#vermelho {
    background-color: #FF4E4E;
}

.sig-quad nav {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-quad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #1A191A;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.card-quad p {
    font-size: 10px;
    font-weight: 300;
    width: 180px;
    color: #fcfcfc;
}

.card-quad-evo-heroi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #1A191A;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.card-quad-evo-heroi .part-left {
    display: flex;
    flex-direction: column;
}

.part-left {
    gap: 15px;
}

.part-left .quad {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.part-left .quad p {
    font-size: 10px;
    font-weight: 500;
    width: 180px;
    color: #fcfcfc;
}

#como-jogar-carta {
    background-color: transparent;
}



@media (max-width: 900px) {
    header {
        padding: 20px;
        height: auto;
    }

    header > .center {
        gap: 10px;
        font-size: 14px;
    }

    .menu-center {
        flex-direction: column;
        align-items: center;
    }

    .como-jogar {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 655px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 20px 10px;
    }

    .left > h1 {
        font-size: 20px;
    }

    header > .center {
        position: relative;
        left: 0;
        transform: none;
        margin-top: 10px;
    }

    .como-jogar {
        padding: 20px;
    }

    .card-quad,
    .card-quad-amarelo,
    .card-quad-evo-heroi {
        flex-direction: column;
        text-align: center;
    }

    .card-quad-amarelo div p,
    .card-quad-amarelo div span,
    .card-quad p,
    .part-left .quad p {
        width: 100%;
        font-size: 12px;
    }

    .sig-quad nav {
        width: 40px;
        height: 40px;
    }

    .part-left {
        margin-top: 15px;
    }

    #amarelo {
        align-self: center;
    }
}

@media (max-width: 400px) {
    .left > h1 {
        font-size: 18px;
    }

    header > .center > a {
        font-size: 12px;
    }

    .como-jogar h1 {
        font-size: 16px;
    }

    .como-jogar-classico h5 {
        font-size: 12px;
    }

    .como-jogar-classico p {
        font-size: 11px;
    }
}


