
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

main {
    display: flex;
    flex-direction: column;
    background-color: #1A191A;
    min-height: 100vh;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 50px;
}

header > .center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    left: 43.2%;
    position: absolute;
}

header > .center > a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    transition: 0.3s;
}

header > .center > a:hover{
    color: #4888FF;
}

.left > h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fcfcfc;
}

.left > h1 > span {
    color: #4888FF;
}


.menu-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentation p {
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
}

.apresentation p span {
    color: #4888FF;
    font-size: 40px;
    font-weight: 800;
    text-decoration: underline;
}


.guess-center { 

    margin-top: 20px;
}

.guess-center > input {

    border: 2px solid #fcfcfc;
    background-color: transparent;
    border-radius: 5px;
    width: 433px;
    height: 59px;

    padding-left: 20px;
    color: #4888FF;
    outline: none;


}

.guess-center > input::placeholder {

    color: #fcfcfc;

}

.guess-center > img {

    width: 32px;
    height: 32px;
    position: absolute;

    right: 37.3%;
    top: 43.5%;


}


.titulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    width: 500px;
    margin-top: 10px;
}

.titulos > p {
    font-size: 12px;
    color: #fcfcfc;
}

#nome {
    position: relative;
    right: 10px;
}

#raridade {
    position: relative;
    right: 13px;
}

#Evo {
    position: relative;
    right: 10px;
}

#heroi {
    position: relative;
    left: 5px;
}

.popup {
    display: none; /* invisível no início */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fcfcfc;
    padding: 25px 35px;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    height: 300px;
    animation: abrir .4s ease;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.popup-content button {
    align-self: center;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 250px;
    height: 50px;
    border: 2px solid #1A191A;
    background-color: transparent;
    transition: 0.3s;
    color: #1A191A;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.popup-content button:active {
    transform: scale(1) !important;
    background-color: #000 !important;
}

.popup-content h1 {
    color: #1A191A;
    font-weight: 800;
}

.popup-content p {
    color: #1A191A;
    font-weight: 500;
}

.popup-content button:hover {
    background-color: #1A191A;
    color: #fcfcfc;
    border: 2px solid transparent;
    transform: scale(1.04);
}

.popup-content a {
    text-decoration: none;
    color: #1A191A;
}

.popup-content a:hover {
    text-decoration: none;
    color: #4888FF
}

.popup-content h2 {
    margin-top: 0;
}

@keyframes abrir {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

